<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Biltjuven</title>
    <link th:href="@{main.css}" rel="stylesheet" />
</head>
<body style="background: bisque">
<div th:insert="~{fragments::header}"></div>
<div th:insert="~{fragments::h1}"></div>
<div th:insert="~{fragments::h2}"></div>
<div th:insert="~{fragments::searchBar}"></div>
<div sec:authorize="isAuthenticated()" th:insert="~{addCarToDealer}"></div>
<div sec:authorize="isAuthenticated()" th:insert="~{addDealerForm}"></div>
<div th:insert="~{tableOfCars}"></div>
<div th:insert="~{fragments::footer}"></div>
</body>
</html>
